:root {
    --cor-principal: rgb(31, 26, 34);
    --cor-fonte-clara: rgb(255, 247, 254);
    --fonte-principal: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-fonte-clara);
    color: var(--cor-fonte-clara);
}

main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    height: auto;
}


input {
  border: 2px solid;
  border-radius: 4px;
 }

.pagination li a{
    border: 2px solid rgb(185, 80, 255);
    color: var(--cor-principal);
    background-color: var(--cor-fonte-clara);
}
.pagination li a:hover{
    border: 2px solid rgb(185, 80, 255);
    color: var(--cor-fonte-clara);
    background-color: var(--cor-principal);
}

.botao {
    padding: 1rem;
}

.container-fluid {
    background-color: var(--cor-principal);
    border-bottom: 1px solid rgb(185, 80, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.container-fluid img{
	width: 1.5rem;
}

.container {
    background-color: var(--cor-principal);
    border: 1px solid rgb(185, 80, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn {
    margin: 0 0.5rem 0 0;
    padding: 1%;
}

.table{
    color: var(--cor-fonte-clara);
}

.table-thead {
    border-bottom: 1px solid rgb(185, 80, 255);
}

